# Remove all
.python-environments
.cache
anaconda-mode
auto-save-list
backup
elpa
emms
eshell
image-dired
plugins
semanticdb
speed-type
undo-tree
url

.emacs.desktop
.emacs.desktop.lock
.last-package-update-day
.org-id-locations
ac-comphist.dat
company-statistics-cache.el
history
places
projectile-bookmarks.eld
projectile.cache
recentf
tramp

